
body{
	background-image: url('../image/png-transparent-snakes-and-ladders-game-android-animated-snake-s-text-video-game-grass-removebg-preview.png');
	background-repeat: no-repeat;
}

/* game board element */
#game-details{
	color:gray;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 20px 27px;
	display: flex;
	justify-content:space-between;
}
#game-board{
	height: 100%;
	width: 100%;
	background: #212837;
	display: grid;
	grid-template: repeat(30,1fr)/repeat(30,1fr);
}